html{
    background-color: rgb(51, 51, 51);
}
header {
    background-color: rgb(174, 174, 174);
}
.menu li{
    display: inline;
    margin-left: 100px;
    margin-right: 100px;
}
.menu {
    display: flex;
    align-items: center;

}
.images {
    display: flex;
    justify-content: space-between;
}
.human {
    margin-top: 7px;
    margin-bottom: 4px;
}
section{
    background-color: rgb(51, 51, 51);
}
h1{
    display: flex;
    justify-content: center;
    color: rgb(114, 134, 161);
}
.comp {
    display: flex;
    justify-content: center;
}
.komp {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
h2{
    margin-top: 50px;
    margin-left: 190px;
    color: rgb(174, 174, 174);
}
footer{
    background-color: rgb(174, 174, 174);
    color: rgb(51, 51, 510);
}
.contacts {
    display: flex;
    justify-content: center;
}
.raz {
    display: flex;
    justify-content: center;
}
.image2 {
    display: flex;
    justify-content: center;
}
.svyaz {
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
}
.but {
    margin-left: 20px;
}
.tema {
    margin-left: 30px;
    margin-bottom: 10px;
    
}