@media (max-width: 770px) {
    .menu li{
        display: inline;
        margin-left: 8px;
        margin-right: 8px;
    }
    .menu {
        display: flex;
        align-items: center;

    }
    .images {
        display: flex;
        align-items: center;
        flex-flow: column;
    }
    .human {
        margin-top: 7px;
        margin-bottom: 4px;
    }
    h1{
        display: flex;
        justify-content: center;
    }
    .comp {
        display: flex;
        justify-content: center;
    }
    .komp {
        margin-top: 50px;
        display: flex;
        justify-content: center;
    }
    h2{
        display: flex;
        justify-content: center;
    }
    .contacts {
        display: flex;
        justify-content: center;
    }
    .raz {
        display: flex;
        justify-content: center;
    }
    .image2 {
        display: flex;
        justify-content: center;
    }
    .svyaz {
        display: flex;
        flex-direction: column;
    }
    .but {
        margin-left: 20px;
    }
    .tema {
        margin-left: 30px;
        margin-bottom: 10px;
        margin-top: 20px;
    }
    .light {
        color: black;
        background-color: white;
    }
    .dark {
        color: white;
        background-color: rgb(50, 50, 50);
    }
    .lighthead{
        color: black;
        background-color: rgb(123, 128, 111);
    }
    .lightfoot{
        color: black;
        background-color: rgb(123, 128, 111);
    }
  }